In [1]:
import pandas as pd

In [2]:
hmi_df = pd.read_csv('household_monthly_income_2020.csv')
hmi_df = hmi_df.dropna(subset=['total'])

In [3]:
# performd data cleansing to remove unwanted rows and dirty data
hmi_df = hmi_df[~hmi_df.planning_area.str.contains("planning_area")]
hmi_df['total'] = hmi_df['total'].astype(int)
hmi_df = hmi_df[hmi_df.total != 0]
hmi_df = hmi_df.reset_index(drop=True)

In [4]:
# convert all the columns' datatype to int except planning_area
for column in hmi_df.columns.tolist():
    if column != 'planning_area':
        hmi_df = hmi_df.astype({column : "int"})

In [5]:
# summing up columns for better visualisation

col_list1 = ['below_sgd_1000', 'sgd_1000_to_1999', 'sgd_2000_to_2999', 'sgd_3000_to_3999', 'sgd_4000_to_4999']
col_list2 = ['sgd_5000_to_5999', 'sgd_6000_to_6999', 'sgd_7000_to_7999', 'sgd_8000_to_8999', 'sgd_9000_to_9999']
col_list3 = ['sgd_10000_to_10999', 'sgd_11000_to_11999', 'sgd_12000_to_12999', 'sgd_13000_to_13999', 'sgd_14000_to_14999']
col_list4 = ['sgd_15000_to_17499', 'sgd_17500_to_19999', 'sgd_20000_over']

hmi_df['sgd_0_to_5000'] = hmi_df[col_list1].sum(axis=1)
hmi_df['sgd_5000_to_10000'] = hmi_df[col_list2].sum(axis=1)
hmi_df['sgd_10000_to_15000'] = hmi_df[col_list3].sum(axis=1)
hmi_df['sgd_15000_above'] = hmi_df[col_list4].sum(axis=1)
#hmi_df

In [6]:
hmi_df = hmi_df[['planning_area', 'total', 'no_working_person', 'sgd_0_to_5000', 'sgd_5000_to_10000', 'sgd_10000_to_15000', 'sgd_15000_above']]
hmi_df

,planning_area,total,no_working_person,sgd_0_to_5000,sgd_5000_to_10000,sgd_10000_to_15000,sgd_15000_above
0,Bedok,97553,16818,22888,20295,12998,24554
1,Bukit Timah,24612,3846,1943,2730,2568,13525
2,Bukit Batok,54298,5983,13542,13822,8809,12142
3,Bukit Merah,59701,12444,15764,10598,7993,12902
4,Downtown Core,1546,175,147,209,211,804
5,Woodlands,78842,7133,19858,25060,14534,12257
6,Marine Parade,17070,3552,3005,2492,1817,6204
7,Pasir Ris,44799,3702,6652,11109,9602,13734
8,Punggol,56166,3531,11860,15686,12065,13024
9,Queenstown,37054,7776,8496,6715,4953,9114
10,Sembawang,33051,2716,7721,9611,6779,6224
11,Tampines,83682,9631,18406,21440,15516,18689
12,Tanglin,7937,1210,518,762,717,4730
13,Bukit Panjang,43579,4389,9797,12192,7368,9833
14,Bishan,29444,4412,4649,5684,4445,10254
15,Ang Mo Kio,60218,11455,16764,13345,7686,10968
16,Geylang,42061,6991,11760,9423,5881,8006
17,Jurong East,27214,4256,6898,7052,4002,5006
18,Hougang,75111,8503,18285,19179,12561,16583
19,Jurong West,83877,8069,19841,24662,16339,14966
20,Choa Chu Kang,58024,4463,11676,16564,11808,13513
21,Kallang,40834,8433,10837,7441,5396,8727
22,Novena,18283,2848,3538,3179,2164,6554
23,Outram,8053,2194,2385,1205,864,1405
24,River Valley,3977,574,338,424,389,2252
25,Sengkang,79375,5621,16332,21965,16722,18735
26,Serangoon,38086,5318,6458,8148,5713,12449
27,Clementi,33609,5990,6936,6827,4741,9115
28,Toa Payoh,46880,10015,11766,9369,5861,9869
29,Yishun,75402,8698,20722,21411,13054,11517

In [7]:
hmi_df.to_csv('household_monthly_income_2020_cleansed.csv', index=False)